<a href="https://colab.research.google.com/github/caroline2697/FormApps-Android/blob/main/Final_Project_BDL_NFT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo
import pandas as pd
import json

from bson.json_util import dumps
from io import StringIO
from pymongo import MongoClient

# **Connect to mongodb atlass**

In [2]:
client = MongoClient ('mongodb://admin:admin123@ac-oua926x-shard-00-00.dv9juau.mongodb.net:27017,ac-oua926x-shard-00-01.dv9juau.mongodb.net:27017,ac-oua926x-shard-00-02.dv9juau.mongodb.net:27017/?ssl=true&replicaSet=atlas-8flxrx-shard-0&authSource=admin&retryWrites=true&w=majority')

In [3]:
from pymongo import collection

#show all collections
db = client["MongoS6"]
collections = db.list_collection_names()
print(collections)

['nft_sales']

In [4]:
#add collection to database
nft_sales= db["nft_sales"]

# **Data Cleaning**
1. Menyeleksi kolom yang dibutuhkan
2. Memastikan data tidak ada kosong

In [5]:
query = nft_sales.aggregate([{"$match": {"payment_symbol":"ETH", 
                                       "total_price":{ "$ne":  "null" },
                                       }}, 
{"$group":{"_id": {
    "time":{"$substr": ["$time", 0, 10]},
    "collection":"$asset.collection.slug"
  },
  "volume":{"$sum":1},
  "volume_eth":{"$sum":"$total_price"},
  "avg_price":{"$avg":"$total_price"},
  "min_price":{"$min":"$total_price"},
  "max_price":{"$max":"$total_price"},
}}])
list_query=list(query)

In [6]:
#json to pandas, flat column
df=pd.json_normalize(list_query, max_level=1)

In [7]:
#cek jumlah baris
df.shape

(13455, 7)

In [8]:
#cek data kosong
df.isna().sum()

volume            0
volume_eth        0
avg_price         0
min_price         0
max_price         0
_id.time          0
_id.collection    0
dtype: int64

In [9]:
df.head()

,volume,volume_eth,avg_price,min_price,max_price,_id.time,_id.collection
0,1,0.1400,0.1400,0.1400,0.1400,2021-10-03,tilescapes
1,1,0.0500,0.0500,0.0500,0.0500,2021-10-04,voxhoundz
2,1,0.0450,0.0450,0.0450,0.0450,2021-10-01,spaceconer
3,1,0.0143,0.0143,0.0143,0.0143,2021-10-03,art-by-tania
4,1,0.0095,0.0095,0.0095,0.0095,2021-10-04,buttheads-real

In [10]:
#cek tipe data kolom
df.dtypes

volume              int64
volume_eth        float64
avg_price         float64
min_price         float64
max_price         float64
_id.time           object
_id.collection     object
dtype: object

In [13]:
#change data types
df["_id.time"] = df["_id.time"].astype("string")
df["_id.collection"] = df["_id.collection"].astype("string")

In [14]:
#cek tipe data kolom
df.dtypes

volume              int64
volume_eth        float64
avg_price         float64
min_price         float64
max_price         float64
_id.time           string
_id.collection     string
dtype: object

In [15]:
#rename column
df1=df
df1.rename(columns = {'_id.time' : 'date', '_id.collection' : 'slug'}, inplace = True)

In [16]:
df1.head()

,volume,volume_eth,avg_price,min_price,max_price,date,slug
0,1,0.1400,0.1400,0.1400,0.1400,2021-10-03,tilescapes
1,1,0.0500,0.0500,0.0500,0.0500,2021-10-04,voxhoundz
2,1,0.0450,0.0450,0.0450,0.0450,2021-10-01,spaceconer
3,1,0.0143,0.0143,0.0143,0.0143,2021-10-03,art-by-tania
4,1,0.0095,0.0095,0.0095,0.0095,2021-10-04,buttheads-real

In [17]:
#sort berdasarkan tanggal
df1 =df.sort_values('date', ascending=True)

In [18]:
df1.head()

,volume,volume_eth,avg_price,min_price,max_price,date,slug
5449,26,2.7606,0.106177,0.0120,0.300,2021-10-01,chibidinos
7735,1,0.0100,0.010000,0.0100,0.010,2021-10-01,coffeepunks
1753,7,2.1670,0.309571,0.2480,0.399,2021-10-01,into-the-cryptoverse-nfts
1752,11,66.2357,6.021427,4.2069,15.000,2021-10-01,octohedz
7733,3,1.0049,0.334967,0.2899,0.370,2021-10-01,boredpunkyachtclub

# **Representasi Data**

In [25]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [35]:
#group by slug, sum jumlah transaksi
slug = df1.groupby('slug')
slug['volume'].agg(np.sum)

slug
-3dderivatives-             1
-her-                       2
-spaceapes                  1
02works                     2
0n1-enclave                 7
                           ..
zoo-fever                   4
zooskull                    2
zunkpets                    2
zunks                      25
zuzana-breznanikova-art     5
Name: volume, Length: 5499, dtype: int64